#randCon {
    width: 100vm;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    border-radius: 25vw;
    background-color: #474747;
    color: white;
    width: 25vw;
    height: 10vw;
    font-size: 2.5vw;
}

button:hover {
    background-color: #4747478e;
}  

#photos {
    display: flex;
    justify-content: space-around;
}

img{
    width: 45vw;
}
